<div id="events-new-view" class="events-section">
  <h2>Host a event</h2>

  <%= erb :'/_errors', layout: false %>

  <form class="form" action="/events" method="POST">
    <div>
      <label for="name">Give your event a name:</label>
      <input type="text" name="event[name]" placeholder="Playdate at Balboa Park">
    </div>
    <div>
      <label for="description">Event Description:</label>
       <textarea id="description" rows="5" name="event[description]" placeholder="Monthly meetup at Balboa Park."></textarea>
    </div>

    <div>
      <label for="time">When:</label>
      <input type="datetime" name="event[time]" placeholder="2017-05-22 12:00">
    </div>
    <div>
      <label for="location">City, State: <%= current_user.location.city_state %></label><br>
      <input type=hidden id="location" name="event[location]" value="<%= current_user.location %>"
    </div>
    <div>
      <label for="location_description">Location Description:</label>
       <textarea id="description" rows="2" name="event[location_description]" placeholder="Give attendees more information about the location, like an address or meeting point."></textarea>
    </div>
    <div>
      <input type="hidden" name="event[host_id]" value="<%= current_user.id %>">
      <input type="submit" value="Create Event"
    </div>
  </form>

</div>
